@import "@progress/kendo-theme-material/dist/all.css";

:root {
  --kendo-theme-name: "material";
}

.k-theme-dark {
  --kendo-theme-name: "material-dark";
  color-scheme: dark;
}

.k-theme-light {
  --kendo-theme-name: "material";
  color-scheme: light;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

html {
  height: 100%;
}